@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form action="/FormHandler" method="get">
    <label for="id">Enter ID:</label>
    <input type="number" name="id" value="" required />
    <br />
    <br />
    <label for="name">Enter Name:</label>
    <input type="text" name="name" value="" required />
    <br />
    <br />
    <label for="image">Enter Image URL:</label>
    <input type="text" name="image" value="" required />

    <input  type="submit" name="submit" value="submit"/>
</form>